<mat-form-field class="example-form-field" >
  <mat-label>filter</mat-label>
  <input matInput type="text" [formControl]="filterControl">
  @if (filter) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<table mat-table [dataSource]="periodicElements$" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td (click)="changeValue(element, 'position')" mat-cell *matCellDef="let element"> {{element.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td (click)="changeValue(element, 'name')" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell (click)="changeValue(element, 'weight')" *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell (click)="changeValue(element, 'symbol')" *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
